body{
    background: #006378;
}

.center{
    text-align: center;
}

h1{
    background: #e6b01c;
    border-radius: 15px;
    color: white;
    border: 2px solid;
    padding: 10px;
    width: auto;
    border-color: white;
}

.chart a:hover{
    color: #e6b01c;
}

.chart{
    background: #51B6B6;
    padding: 50px -50px;
    margin: 20px 25px;
    border-radius: 20px;
}


.btn.btn-outline-success {
    background-color: #006378 !important;
    color: white !important;
}
